.app-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f9f7;
}

.main-content-wrapper {
  flex-grow: 1;
  min-width: 0;
  padding: 20px 40px 40px 20px;


  &.full-width {
    width: 100%;
    max-width: 100vw;
    padding: 50px;
    margin: 0;
  }
}
